.cache
.temp
node_modules
docs-shared/lib/
docs-shared/tsconfig.build.tsbuildinfo
packages/components/lib/
packages/components/tsconfig.build.tsbuildinfo
packages/create/lib/
packages/create/tsconfig.build.tsbuildinfo
packages/lightgallery/lib/
packages/lightgallery/tsconfig.build.tsbuildinfo
packages/md-enhance/lib/
packages/md-enhance/tsconfig.build.tsbuildinfo
packages/search-pro/lib/
packages/search-pro/tsconfig.build.tsbuildinfo
packages/shared/lib/
packages/shared/tsconfig.build.tsbuildinfo
packages/theme/lib/
packages/theme/tsconfig.build.tsbuildinfo